In [4]:
import numpy as np
import pandas as pd


from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso, Ridge, ElasticNet
import joblib

In [5]:
train = pd.read_csv("train_HPPSales_Preprocessed.csv")
test = pd.read_csv("test_HPPSales_Preprocessed.csv")

In [6]:
train_X = train.drop(columns= ["TARGET(PRICE_IN_LACS)"])
test_X = test.drop(columns= ["TARGET(PRICE_IN_LACS)"])

In [7]:
train_Y = train["TARGET(PRICE_IN_LACS)"]
train_Y

0        55.0
1        51.0
2        43.0
3        62.5
4        60.5
         ...
29446    45.0
29447    16.0
29448    27.1
29449    67.0
29450    27.8
Name: TARGET(PRICE_IN_LACS), Length: 29451, dtype: float64

In [8]:
model = Ridge(alpha = 30)
model.fit(train_X, train_Y)
pred_train = model.predict(train_X)
pred_test = model.predict(test_X)
pred_test = abs(pred_test)
score = cross_val_score(model, train_X, train_Y, cv = 10, scoring = "neg_root_mean_squared_error" )
print("RMSE of Train Data = ",np.sqrt(mean_squared_error(train_Y, pred_train)))
print("Cross validation Score  = ",np.mean(np.abs(score)))

RMSE of Train Data =  575.490879145328
Cross validation Score  =  636.9148215127217

In [9]:
model = LinearRegression()
model.fit(train_X, train_Y)
pred_train = model.predict(train_X)
pred_test = model.predict(test_X)
pred_test = abs(pred_test)
score = cross_val_score(model, train_X, train_Y, cv = 10, scoring = "neg_root_mean_squared_error" )
print("RMSE of Train Data = ",np.sqrt(mean_squared_error(train_Y, pred_train)))
print("Cross validation Score  = ",np.mean(np.abs(score)))

RMSE of Train Data =  575.467162469696
Cross validation Score  =  636.9498864360326

In [10]:
sample = pd.read_csv("sample_submission.csv")
sample["TARGET(PRICE_IN_LACS)"] = pred_test
sample.to_csv("resulthp.csv", index = False)

In [11]:
train_X

,POSTED_BY_Builder,POSTED_BY_Dealer,POSTED_BY_Owner,BHK_OR_RK_BHK,BHK_OR_RK_RK,UNDER_CONSTRUCTION,AREA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE
0,0,0,1,1,0,0,0,2,1300.236407,1,1,12.969910,77.597960
1,0,1,0,1,0,0,0,2,1275.000000,1,1,12.274538,76.644605
2,0,0,1,1,0,0,0,2,933.159722,1,1,12.778033,77.632191
3,0,0,1,1,0,0,1,2,929.921143,1,1,28.642300,77.344500
4,0,1,0,1,0,1,0,2,999.009247,0,1,22.592200,88.484911
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29446,0,0,1,1,0,0,0,3,2500.000000,1,1,27.140626,78.043277
29447,0,0,1,1,0,0,0,2,769.230769,1,1,39.945409,-86.150721
29448,0,1,0,1,0,0,0,2,1022.641509,1,1,26.928785,75.828002
29449,0,0,1,1,0,0,0,2,927.079009,1,1,12.900150,80.227910
29450,0,1,0,1,0,0,1,2,896.774194,1,1,26.832353,75.841749